:root.theme-dark {
  --background-cover: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --hover-button: #ff007066;
  --accent-text: #000028;
  --main-text-color: #f1b2ce;
  --decoration-span-visibility: visible;
}
