:root.theme-light {
  --background-cover: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --section-title-color:#353430;
  --button-decor-color: #353430;
  --hover-button: #32312d66;
  --accent-text: #000028;
  --main-text-color: #353430;
  --decoration-span-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-cover: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --section-title-color:#353430;
    --button-decor-color: #353430;
    --hover-button: #32312d66;
    --accent-text: #000028;
    --main-text-color: #353430;
    --decoration-span-visibility: hidden;
  }
}
