/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--background-color) var(--background-cover) no-repeat center /
    cover;

  background-attachment: fixed;
  padding: 0 10px;
  font-family: "IBM Plex mono", sans-serif;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::after {
  position: absolute;
  top: 10px;
  right: 0px;
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--button-decor-color);
  border-right: 1px solid var(--button-decor-color);
}

.decorated-zone::before {
  position: absolute;
  bottom: 10px;
  left: 0px;
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--button-decor-color);
  border-left: 1px solid var(--button-decor-color);
}

.decoration-span {
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color);
  position: absolute;
  top: 12px;
  right: 28px;
  visibility: var(--decoration-span-visibility);
}

.red-dotted::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 4px;
  left: 40px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: 6px 6px 6px 6px currentColor;
}

.header__title {
  display: flex;
  font-size: var(--title-font-size-mobile);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  margin-block-start: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  text-transform: lowercase;
  line-height: 18px;
  color: var(--button-decor-color);
  background-color: transparent;
  border: 1px solid transparent;
  block-size: 26px;
  inline-size: 70px;
  appearance: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid;
  border-color: inherit;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid;
  border-color: inherit;
  outline: none;
}

.header__description {
  display: block;
  color: var(--accent-text);
  font-weight: 700;
  font-size: 18px;
  margin: 40px 0 56px 0;
  line-height: 23.4px;
  justify-self: right;
  align-self: center;
  max-block-size: 117px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text);
}

.section {
  display: grid;
  margin-block-start: 30px;
}

.why__section {
  margin-block-start: 40px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
  min-inline-size: 355px;
  line-height: 23.4px;
}

.block-end-margin {
  margin-block-end: 20px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  min-inline-size: 355px;
  margin-block-end: 10px;
  line-height: 23.4px;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 23.4px;
  margin-block-end: 20px;
}

.card-text__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  outline: 1px solid transparent;
}

.card-text__link:hover {
  border-bottom: 1px solid;
  border-color: inherit;
}

.card-text__link:focus-visible {
  outline: none;
  border: 1px solid;
  border-color: inherit;
}

.not-bold {
  font-weight: 400;
}

.advice__title {
  display: block;
  margin-block: 20px;
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
}

.image-set-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.image-set__title {
  min-inline-size: 355px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.image-set-list__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  align-items: center;
  justify-content: center;
  margin-block-start: 40px;
}

.footer__title {
  display: block;
  font-size: var(--title-font-size-mobile);
  font-weight: 700;
  color: var(--title-color);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    padding: 0 20px;
  }
  .decoration-span {
    top: 22px;
  }
  .decorated-zone::before {
    bottom: 20px;
  }
  .decorated-zone::after {
    top: 20px;
  }
  .header__theme-menu {
    margin-block-start: 15px;
  }
  .header__title {
    margin-inline-start: -20px;
    font-size: var(--title-font-size-tablet-desktop);
  }
  .header__description {
    max-inline-size: 364px;
  }
  .footer__title {
    font-size: var(--title-font-size-tablet-desktop);
  }

  .section {
    margin-block-start: 60px;
  }

  .why__section,
  .how__section {
    grid-template-columns: 1fr 472px;
    column-gap: 20px;
  }

  .section__title {
    display: block;
    min-inline-size: min-content;
    max-inline-size: 236px;
  }
  .why__section .section__title {
    grid-column: 1;
  }

  .how__section .section__title {
    grid-column: 1;
    grid-row: 1/2;
  }

  .why__section .card,
  .how__section .card {
    grid-column: 2;
  }

  .how__section {
    grid-template-rows: 43px;
  }

  .advice__title {
    display: block;
    grid-column: 2;
    margin-block: 0;
    max-block-size: min-content;
  }

  .image-set-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-block-size: 66vh;
    min-block-size: 101.5vw;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }

  .image-set__title {
    margin-block-end: 20px;
  }

  .footer {
    margin-block-start: 60px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__description {
    justify-self: right;
    align-self: center;
    min-block-size: 71px;
    max-inline-size: 491px;
    margin-block-start: 38px;
  }

  .section__title {
    max-inline-size: 315px;
  }

  .why__section,
  .how__section {
    grid-template-columns: 1fr 649px;
  }

  .what__section {
    grid-template-columns: repeat(auto-fill, 315px);
    grid-template-rows: 1fr 431px;
    column-gap: 20px;
  }

  .what__section .section__title {
    grid-column: 1 / span 3;
  }

  .what__section .card {
    max-inline-size: 315px;
  }

  .what__section .card__title {
    min-inline-size: 315px;
  }

  .how__section {
    margin-block-start: 80px;
  }

  .footer {
    margin-block-start: 65px;
  }

  .footer__title {
    text-shadow: 4px 4px 0 #ff0070;
  }
}
